@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-nebula-purple: #702963;
  --color-electric-orchid: #da70d6;
  --color-galactic-violet: #191970;
  --color-starry-grape: #c0c0c0;
  --color-light-matter: #4A148C;
}

html,
body {
  height: 100%;
}
