@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-purple-black: #0b0205;
  --color-purple-darkest: #240046;
  --color-purple-darker: #2C1B47;
  --color-purple-dark: #310047;
  --color-purple-base: #5a189a;
  --color-purple-base-light: #7b2cbf;
  --color-purple-light: #9d4edd;
  --color-purple-lighter: #9356a0;
  --color-purple-lightest: #DCCAE9;
}

html,
body {
  height: 100%;
}
